# Default ignored files
/.idea/workspace.xml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/vcs.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/uiDesigner.xml
/.idea/libraries
/.idea/shelf
/.idea/codeStyles
/.idea/inspectionProfiles
/.idea/jarRepositories.xml
/.idea/aws.xml
/**/target/
/**/logs
/out
hs_err_*.log
