# 变量说明
# ${projectPath}代表项目根路径
# ${appVersion}代表程序版本
# ${appName}代表程序名称
# ${pkgPath}代表打包路径
# ${os.arch}代表系统架构
# $SYSTEM代表从系统变量获取jdk路径
# 打包模式，目前仅支持jpackage
packMode = "jpackage"
# 平台，macos、windows、linux
platform = "windows"
# 打包文件的存放目录
dest = "C:/Package/EasyShell/${appVersion}"
# 程序的图标，windows是ico、linux是png、macos是icns，
appIcon = "${projectPath}/resource/app.ico"
# 程序主程序jar
mainJar = "${projectPath}/target/easyshell-${appVersion}.jar"
# jdk路径，可选物理路径或者$SYSTEM
jdkPath = "$SYSTEM"
# appImage运行环境
appImageRuntime = "${pkgPath}/AppImage"

# 压缩类型
[compress]
# 格式，tar.gz、zip
type = "tar.gz"

# jpackage命令
[jpackage]
# 是否开启jpackage
enable = true
# 是否详细模式
verbose = true
# 程序作者
vendor = "oyzh"
# vm参数
java-options = [
    "-XX:+UnlockExperimentalVMOptions",
    "-Xss256k",
    "-Xms32m",
    "-Xmx2G",
    "-Xshare:off",
    "-XX:+UseZGC",
    "-XX:ConcGCThreads=2",
    "-XX:+TieredCompilation",
    "-XX:TieredStopAtLevel=1",
    "-XX:+UseCompactObjectHeaders"
]
# 程序描述
description = "A powerful, modern, cross-platform, multi-protocol client"
# macos标识符
mac-package-identifier = "cn.oyzh.easyshell"
# 打包类型，支持app-image、pkg、dmg、exe、msi、rpm、deb
type = "msi"
# windows图标
win-menu = true
# windows快捷方式
win-shortcut = true
# windows可选安装目录
win-dir-chooser = true

# jdeps命令
[jdeps]
# 程序多版本指定
multi-release = 25
# 显示摘要
summary = true
# 跳过的模块
skips = ["javafx-.*.jar"]
# 排除的模块
excludes = ["jdk.jfr"]

# jlink命令
[jlink]
# 排除的文件
exclude-files = [
    "**.md",
    "**LICENSE",
    "**COPYRIGHT",
    "**classlist",
    "**README.txt",
    "**sound.properties",
    "**ASSEMBLY_EXCEPTION",
    "**ADDITIONAL_LICENSE_INFO"
]
# 添加的模块
add-modules = [
    "java.xml",
    "java.rmi",
    "java.sql",
    "java.base",
    "java.naming",
    "java.logging",
    "java.desktop",
    "java.scripting",
    "java.management",
    "java.datatransfer",
    "java.security.jgss",
    "jdk.unsupported"
]

# jre裁剪
[jre]
# 排除的文件
excludes = [
    "COPYRIGHT",
    "README.txt",
    "sound.properties",
    "ASSEMBLY_EXCEPTION",
    "ADDITIONAL_LICENSE_INFO",
    ".*.md",
    "lcms.*",
    "jawt.*",
    "j2gss.*",
    "prefs.*",
    "jsound.*",
    "LICENSE.*",
    "javajpeg.*",
    "classlist.*",
    "jrunscript.*",
    "splashscreen.*"
]

# jar裁剪
[jar]
# 移除空jar
removeEmpty = true
# 排除的文件
excludes = [
    "AL2.0",
    "LGPL2.1",
    "package.html",
    "pom.xml",
    "pom.properties",
    "AUTHORS",
    "README.md",
    "README.txt",
    "DEPENDENCIES",
    "aot.factories",
    "changelog.txt",
    "module-info.class",
    "latestchanges.html",
    "package-info.class",
    "ASSEMBLY_EXCEPTION",
    "reflectionconfig.json",
    "release-timestamp.txt",
    "ADDITIONAL_LICENSE_INFO",
    "reactor.blockhound.integration.BlockHoundIntegration",
    "classpath.idx",
    "LICENSE.*",
    ".*.md",
    ".*.pro",
    ".*.xsd",
    "NOTICE.*",
    ".*.tooling",
    ".*.schemas",
    ".*.handlers",
    "lombok-.*.jar",
    ".*.processors",
    ".*.kotlin_module",
    ".*.dylib",
    ".*.so",
    "data.zip",
    "git.properties",
    "native-image.properties",
    "spring-boot-jarmode-layertools-.*.jar",
    "io.netty.version.properties",
    "BC2048KE.SF",
    "BC2048KE.DSA",
    ".*lowmc.*.bin.properties",
    ".*com/pty4j/native/freebsd.*",
    ".*com/pty4j/native/linux.*",
    ".*com/pty4j/native/darwin.*",
    ".*com/pty4j/native/win/x86/.*",
    ".*com/pty4j/native/win/aarch64/.*",
    "io.netty.version.properties",
    ".*com/sun/jna/aix.*",
    ".*com/sun/jna/sunos.*",
    ".*com/sun/jna/freebsd.*",
    ".*com/sun/jna/openbsd.*",
    ".*com/sun/jna/dragonflybsd.*",
    ".*com/sun/jna/linux.*",
    ".*com/sun/jna/darwin.*",
    ".*com/sun/jna/win32-x86/.*",
    ".*com/sun/jna/win32-aarch64/.*",
    "ucrtbase.dll",
    "api-ms-.*.dll",
    "msvcp140.*.dll",
    "vcruntime140.*.dll"
]
