packMode = "jpackage"
platform = "linux"
dest = "/home/oyzh/Package/EasyShell/${appVersion}/"
appIcon = "${projectPath}/resource/app.png"
mainJar = "${projectPath}/target/easyshell-${appVersion}.jar"
jdkPath = "$SYSTEM"
#appImageRuntime = '${pkgPath}/AppImage'

[jpackage]
enable = true
verbose = true
vendor = "oyzh"
java-options = [
    "-XX:+UnlockExperimentalVMOptions",
    "-Xss256k",
    "-Xms32m",
    "-Xmx2G",
    "-Xshare:off",
    "-XX:+UseZGC",
    "-XX:ConcGCThreads=2",
    "-XX:+TieredCompilation",
    "-XX:TieredStopAtLevel=1",
    "-XX:+UseCompactObjectHeaders"
]
description = "A powerful, modern, cross-platform, multi-protocol client"
type = "app-image"

[jdeps]
multi-release = 25
summary = true
skips = [ "javafx-.*.jar" ]
excludes = [ "jdk.jfr" ]

[jlink]
exclude-files = [
    "**.md",
    "**LICENSE",
    "**COPYRIGHT",
    "**classlist",
    "**README.txt",
    "**sound.properties",
    "**ASSEMBLY_EXCEPTION",
    "**ADDITIONAL_LICENSE_INFO"
]
add-modules = [
    "java.xml",
    "java.rmi",
    "java.sql",
    "java.base",
    "java.naming",
    "java.logging",
    "java.desktop",
    "java.scripting",
    "java.management",
    "java.datatransfer",
    "java.security.jgss",
    "jdk.unsupported"
]

[jre]
excludes = [
    "COPYRIGHT",
    "README.txt",
    "sound.properties",
    "ASSEMBLY_EXCEPTION",
    "ADDITIONAL_LICENSE_INFO",
    ".*.md",
    "lcms.*",
    "jawt.*",
    "j2gss.*",
    "prefs.*",
    "jsound.*",
    "LICENSE.*",
    "javajpeg.*",
    "classlist.*",
    "jrunscript.*",
    "splashscreen.*"
]

[jar]
removeEmpty = true
excludes = [
    "AL2.0",
    "LGPL2.1",
    "package.html",
    "pom.xml",
    "pom.properties",
    "AUTHORS",
    "README.md",
    "README.txt",
    "DEPENDENCIES",
    "aot.factories",
    "changelog.txt",
    "module-info.class",
    "latestchanges.html",
    "package-info.class",
    "ASSEMBLY_EXCEPTION",
    "reflectionconfig.json",
    "release-timestamp.txt",
    "ADDITIONAL_LICENSE_INFO",
    "reactor.blockhound.integration.BlockHoundIntegration",
    "classpath.idx",
    "LICENSE.*",
    ".*.md",
    ".*.pro",
    ".*.xsd",
    "NOTICE.*",
    ".*.tooling",
    ".*.schemas",
    ".*.handlers",
    "lombok-.*.jar",
    ".*.processors",
    ".*.kotlin_module",
    ".*.dll",
    ".*.dylib",
    "data.zip",
    "git.properties",
    "native-image.properties",
    "spring-boot-jarmode-layertools-.*.jar",
    "io.netty.version.properties",
    "BC2048KE.SF",
    "BC2048KE.DSA",
    ".*lowmc.*.bin.properties",
    ".*com/pty4j/native/freebsd.*",
    ".*com/pty4j/native/darwin.*",
    ".*com/pty4j/native/win.*",
    ".*com/sun/jna/aix.*",
    ".*com/sun/jna/sunos.*",
    ".*com/sun/jna/freebsd.*",
    ".*com/sun/jna/openbsd.*",
    ".*com/sun/jna/dragonflybsd.*",
    ".*com/sun/jna/darwin.*",
    ".*com/sun/jna/win32.*"
]
