packMode = "jpackage"
mainJar = "${projectPath}/target/easyshell-${appVersion}.jar"
jdkPath = "$SYSTEM"

[jpackage]
enable = true
verbose = true
vendor = "oyzh"
java-options = [
    "-XX:+UnlockExperimentalVMOptions",
    "-Xss256k",
    "-Xms32m",
    "-Xmx2G",
    "-Xshare:off",
    "-XX:ConcGCThreads=2",
    "-XX:+TieredCompilation",
    "-XX:TieredStopAtLevel=1",
    "-XX:MaxDirectMemorySize=256m",
    "-XX:+UseCompactObjectHeaders",
    "-XX:+UnlockDiagnosticVMOptions",
    "-XX:NativeMemoryTracking=detail",
    "-Dprism.vsync=false",
    "-Dprism.maxvram=128m",
    "-Dprism.dirtyopts=false",
    "-Dprism.cachefonts=false",
    "-Dprism.cacheimages=false",
    "-Dprism.numrenderbuckets=1",
    "-Dprism.maxTextureSize=2560",
    "-Dprism.textureCacheSize=32",
    "-Dprism.animationpulse=false",
    "-Dprism.texture.bytebuffer=true",
    "-Dprism.forceUploadingPainter=true",
    "-Dprism.textureCacheCleanupDelay=100",
    "-Dquantum.multithreaded=false"
]
description = "A powerful, modern, cross-platform, multi-protocol client"

[jdeps]
multi-release = 25
summary = true
skips = ["javafx-.*.jar"]
excludes = ["jdk.jfr"]

[jlink]
exclude-files = [
    "**.md",
    "**LICENSE",
    "**COPYRIGHT",
    "**classlist",
    "**README.txt",
    "**sound.properties",
    "**ASSEMBLY_EXCEPTION",
    "**ADDITIONAL_LICENSE_INFO"
]
add-modules = [
    "java.xml",
    "java.rmi",
    "java.sql",
    "java.base",
    "java.naming",
    "java.logging",
    "java.desktop",
    "java.scripting",
    "java.management",
    "java.datatransfer",
    "java.security.jgss",
    "jdk.unsupported"
]

[jre]
excludes = [
    "COPYRIGHT",
    "README.txt",
    "sound.properties",
    "ASSEMBLY_EXCEPTION",
    "ADDITIONAL_LICENSE_INFO",
    ".*.md",
    "lcms.*",
    "jawt.*",
    "j2gss.*",
    "prefs.*",
    "jsound.*",
    "LICENSE.*",
    "javajpeg.*",
    "classlist.*",
    "jrunscript.*",
    "splashscreen.*"
]

[jar]
removeEmpty = true
excludes = [
    "AL2.0",
    "LGPL2.1",
    "package.html",
    "pom.xml",
    "pom.properties",
    "AUTHORS",
    "README.md",
    "README.txt",
    "DEPENDENCIES",
    "aot.factories",
    "changelog.txt",
    "module-info.class",
    "latestchanges.html",
    "package-info.class",
    "ASSEMBLY_EXCEPTION",
    "reflectionconfig.json",
    "release-timestamp.txt",
    "ADDITIONAL_LICENSE_INFO",
    "reactor.blockhound.integration.BlockHoundIntegration",
    "classpath.idx",
    "LICENSE.*",
    ".*.md",
    ".*.pro",
    ".*.xsd",
    "NOTICE.*",
    ".*.tooling",
    ".*.schemas",
    ".*.handlers",
    "lombok-.*.jar",
    ".*.processors",
    ".*.kotlin_module",
    "data.zip",
    "git.properties",
    "native-image.properties",
    "spring-boot-jarmode-layertools-.*.jar",
    "io.netty.version.properties",
    # bouncycastle专项裁剪
    "BC2048KE.SF",
    "BC2048KE.DSA",
    ".*lowmc.*.bin.properties",
    # pty4j专项裁剪
    ".*com/pty4j/native/freebsd.*",
    ".*com/pty4j/native/win/x86/.*",
    # jna专项裁剪
    ".*com/sun/jna/aix.*",
    ".*com/sun/jna/sunos.*",
    ".*com/sun/jna/freebsd.*",
    ".*com/sun/jna/openbsd.*",
    ".*com/sun/jna/dragonflybsd.*",
    # druid专项裁剪
    ".*support/http.*",
    ".*support/monitor.*",
    ".*tpcds/.*",
    ".*tpch/.*"
]
