packMode = "jpackage"
mainJar = "${projectPath}/target/easyshell-${appVersion}.jar"
jdkPath = "$SYSTEM"

[jpackage]
enable = true
verbose = true
vendor = "oyzh"
java-options = [
    # 解锁实验选项
    "-XX:+UnlockExperimentalVMOptions",
    # 线程栈大小
    "-Xss256k",
#    "-Xms32m",
    # 最大内存
    "-Xmx2G",
    # 禁用类共享，注意部分jdk不支持此参数
#    "-Xshare:off",
#    "-XX:ConcGCThreads=2",
#    "-XX:+TieredCompilation",
#    "-XX:TieredStopAtLevel=1",
#    "-XX:MaxDirectMemorySize=256m",
    # 对象头压缩
    "-XX:+UseCompactObjectHeaders",
#    "-XX:+UnlockDiagnosticVMOptions",
#    "-XX:NativeMemoryTracking=detail",
#    "-Dprism.text=t2k",
#    "-Dprism.order=sw",
#    "-Dprism.vsync=false",
#    "-Dprism.maxvram=256m",
#    "-Dprism.forceGPU=false",
#    "-Dprism.dirtyopts=false",
#    "-Dprism.cachefonts=false",
#    "-Dprism.cacheimages=false",
#    "-Dprism.numrenderbuckets=1",
#    "-Dprism.maxTextureSize=4096",
#    "-Dprism.textureCacheSize=64",
#    "-Dprism.animationpulse=false",
#    "-Dprism.texture.bytebuffer=true",
#    "-Dprism.forceUploadingPainter=true",
#    "-Dprism.textureCacheCleanupDelay=100",
#    "-Djavafx.animation.pulse=24",
#    "-Dquantum.multithreaded=false"
    # 编译策略
    "-XX:TieredStopAtLevel=4",
    # 提高编译阈值
    "-XX:CompileThreshold=10000",
    # 堆空间扩容比例
    "-XX:MinHeapFreeRatio=30",
    # 堆空间缩容比例
    "-XX:MaxHeapFreeRatio=50",
#    # 字符串拼接优化
#    "-XX:+OptimizeStringConcat",
    # 字符串去重
    "-XX:+UseStringDeduplication",
    # 禁用大页
    "-XX:-UseLargePages",
    # 假装内存为2048m
    "-XX:MaxRAM=2048m",
    # 假装核心为1c
    "-XX:ActiveProcessorCount=1",
    # 禁用方法内联
    "-XX:-Inline",
    # OOM时自动生成堆转储文件
    "-XX:+HeapDumpOnOutOfMemoryError",
    # gc参数
    "-XX:+UseZGC",
#    "-XX:+ZUncommit",
#    "-XX:+ZProactive",
    "-XX:ZUncommitDelay=1",
    # 逐步缩小堆内存
    "-XX:+ShrinkHeapInSteps"
]
description = "A powerful, modern, cross-platform, multi-protocol client"

[jdeps]
summary = true
multi-release = 25
#skips = ["javafx-.*.jar"]
excludes = [
    "jdk.jfr",
    "jdk.jdi",
    "jdk.jlink",
    "jdk.jshell",
    "jdk.attach",
    "jdk.jpackage",
    "jdk.jconsole",
    "jdk.graal.compile",
    "jdk.graal.compiler.management",
    "java.rmi",
    "java.compiler",
    "java.scripting",
    "java.instrument",
    "java.xml.crypto",
    "java.datatransfer"
]

[jlink]
exclude-files = [
    "**.md",
    "**LICENSE",
    "**COPYRIGHT",
    "**classlist",
    "**README.txt",
    "**sound.properties",
    "**ASSEMBLY_EXCEPTION",
    "**ADDITIONAL_LICENSE_INFO"
]
add-modules = [
    "java.xml",
    "java.rmi",
    "java.sql",
    "java.base",
    "java.naming",
    "java.logging",
    "java.desktop",
    "java.scripting",
    "java.management",
    "java.datatransfer",
    "java.security.jgss",
    "jdk.unsupported"
]

[jre]
excludes = [
    "COPYRIGHT",
    "README.txt",
    "sound.properties",
    "ASSEMBLY_EXCEPTION",
    "ADDITIONAL_LICENSE_INFO",
    ".*.md",
    "lcms.*",
    "jawt.*",
    "j2gss.*",
    "prefs.*",
    "jsound.*",
    "LICENSE.*",
    "javajpeg.*",
    "classlist.*",
    "jrunscript.*",
    "splashscreen.*"
]

[jar]
removeEmpty = true
excludes = [
    "AL2.0",
    "LGPL2.1",
    "package.html",
    "pom.xml",
    "pom.properties",
    "AUTHORS",
    "README.md",
    "README.txt",
    "DEPENDENCIES",
    "aot.factories",
    "changelog.txt",
    "module-info.class",
    "latestchanges.html",
    "package-info.class",
    "ASSEMBLY_EXCEPTION",
    "reflectionconfig.json",
    "release-timestamp.txt",
    "ADDITIONAL_LICENSE_INFO",
    "reactor.blockhound.integration.BlockHoundIntegration",
    "classpath.idx",
    "LICENSE.*",
    ".*.md",
    ".*.pro",
    ".*.xsd",
    ".*.proto",
    "NOTICE.*",
    ".*.tooling",
    ".*.schemas",
    ".*.handlers",
    "lombok-.*.jar",
    ".*.processors",
    ".*.kotlin_module",
    "data.zip",
    "git.properties",
    "reflect-config.json",
    "native-image.properties",
    "spring-boot-jarmode-layertools-.*.jar",
    "io.netty.version.properties",
    # bouncycastle专项裁剪
    "BC2048KE.SF",
    "BC2048KE.DSA",
    ".*lowmc.*.bin.properties",
    # pty4j专项裁剪
    ".*com/pty4j/native/freebsd.*",
    ".*com/pty4j/native/win/x86/.*",
    # pty4j专项裁剪结束
    # jna专项裁剪开始
    ".*com/sun/jna/aix.*",
    ".*com/sun/jna/sunos.*",
    ".*com/sun/jna/freebsd.*",
    ".*com/sun/jna/openbsd.*",
    ".*com/sun/jna/dragonflybsd.*",
    # jna专项裁剪结束
    # durid专项裁剪开始
    # 资源
    ".*support/http.*",
    ".*support/monitor.*",
    ".*tpcds/.*",
    ".*tpch/.*",
    #    # 方言
    #    ".*com/alibaba/druid/sql/dialect/athena/.*",
    #    ".*com/alibaba/druid/sql/dialect/bigquery/.*",
    #    ".*com/alibaba/druid/sql/dialect/blink/.*",
    #    ".*com/alibaba/druid/sql/dialect/clickhouse/.*",
    #    ".*com/alibaba/druid/sql/dialect/databricks/.*",
    #    ".*com/alibaba/druid/sql/dialect/db2/.*",
    #    ".*com/alibaba/druid/sql/dialect/doris/.*",
    #    ".*com/alibaba/druid/sql/dialect/gaussdb/.*",
    #    ".*com/alibaba/druid/sql/dialect/h2/.*",
    #    ".*com/alibaba/druid/sql/dialect/hive/.*",
    #    ".*com/alibaba/druid/sql/dialect/hologres/.*",
    #    ".*com/alibaba/druid/sql/dialect/impala/.*",
    #    ".*com/alibaba/druid/sql/dialect/infomix/.*",
    #    ".*com/alibaba/druid/sql/dialect/odps/.*",
    #    ".*com/alibaba/druid/sql/dialect/oracle/.*",
    #    ".*com/alibaba/druid/sql/dialect/oscar/.*",
    #    ".*com/alibaba/druid/sql/dialect/phoenix/.*",
    #    ".*com/alibaba/druid/sql/dialect/postgresql/.*",
    #    ".*com/alibaba/druid/sql/dialect/presto/.*",
    #    ".*com/alibaba/druid/sql/dialect/redshift/.*",
    #    ".*com/alibaba/druid/sql/dialect/snowflake/.*",
    #    ".*com/alibaba/druid/sql/dialect/spark/.*",
    #    ".*com/alibaba/druid/sql/dialect/sqlserver/.*",
    #    ".*com/alibaba/druid/sql/dialect/starrocks/.*",
    #    ".*com/alibaba/druid/sql/dialect/supersql/.*",
    #    ".*com/alibaba/druid/sql/dialect/synapse/.*",
    #    ".*com/alibaba/druid/sql/dialect/teradata/.*",
    #    ".*com/alibaba/druid/sql/dialect/transact/.*",
    #    # 额外组件
    #    ".*com/alibaba/druid/pool/.*",
    #    ".*com/alibaba/druid/stat/.*",
    #    ".*com/alibaba/druid/proxy/.*",
    # 支持组件
    ".*com/alibaba/druid/support/calcite/.*",
    ".*com/alibaba/druid/support/clickhouse/.*",
    ".*com/alibaba/druid/support/hibernate/.*",
    ".*com/alibaba/druid/support/http/.*",
    ".*com/alibaba/druid/support/ibatis/.*",
    ".*com/alibaba/druid/support/jakarta/.*",
    ".*com/alibaba/druid/support/metrics/.*",
    ".*com/alibaba/druid/support/monitor/.*",
    ".*com/alibaba/druid/support/opds/.*",
    ".*com/alibaba/druid/support/quartz/.*",
    ".*com/alibaba/druid/support/simplejndi/.*",
    ".*com/alibaba/druid/support/spring/.*",
    # durid专项裁剪结束
]
