dest = "C:/Package/EasyShell/${appVersion}"
appIcon = "${projectPath}/resource/app.ico"
platform = "windows"

[jpackage]
java-options = [
#    "-XX:+UseZGC",
    "-Dprism.forceUploadingPainter=true",
    "-Dquantum.multithreaded=false"
]
type = "exe"
win-menu = true
win-shortcut = true
win-dir-chooser = true

[jar]
excludes = [
    ".*.dylib",
    ".*.so",
    ".*com/pty4j/native/linux.*",
    ".*com/pty4j/native/darwin.*",
    ".*com/pty4j/native/win/aarch64/.*",
    ".*com/sun/jna/linux.*",
    ".*com/sun/jna/darwin.*",
    ".*com/sun/jna/win32-x86/.*",
    ".*com/sun/jna/win32-aarch64/.*",
    "ucrtbase.dll",
    "api-ms-.*.dll",
    "msvcp140.*.dll",
    "vcruntime140.*.dll"
]
